h1 {
color: orange;

}

ul {
border: 5px dashed;
text-align: center;
list-style: none;
padding: 0;
width: 11%;
margin: auto;
}




ul li {
border: 3px outset;
display: inline-block;
}
img{
display: block;
width: 50%;

}

#pic1 {


}
#pic2{

margin: auto;

}
#pic3{
margin-left: 50%;

}
#euro{
margin-left: auto;

}
.tower{
    width: 50%;
    margin: auto;


}
